<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
    }
    th {
      text-align: left;
    }
    </style>
</head>
<body>
    <h2>GameIndustry.</h2>
    <h3>Job Listings</h3>

    <form method="get">
        {{offerFilter.form}}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br/>
    <table>
        <tr>
            <th>Job Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Experience</th>
            <th>Requirements</th>
        </tr>
        {% for offer in offers %}
        <tr>
            <td> {{ offer.title }} </td>
            <td> {{ offer.employer }} </td>
            <td> {{ offer.location }} </td>
            <td> {{ offer.experience }} </td>
            <td> {{ offer.requirements }} </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
