<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>GameIndustry.</h2>
    <h3>Job Listings</h3>

    <form method="get">
        {{offerFilter.form}}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% for offer in offers %}
        <hr/>
        <p><b>Job Title:</b> {{ offer.title }} </p>
        <p><b>Company:</b> {{ offer.employer }} </p>   
        <p><b>Location:</b> {{ offer.location }} </p>   
        <p><b>Experience:</b> {{ offer.experience }} </p>   
        <p><b>Requirements:</b> {{ offer.requirements }} </p>   
    {% endfor %}
</body>
</html>
